<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:arg name="robot_name" default="go1">

        <xacro:macro name="leg_gazebo" params="name load_force_sensors">

	    <!-- Foot contact -->
	    <gazebo reference="${name}_lowerleg">
		<sensor name="${name}_foot_contact" type="contact">
		<update_rate>100</update_rate>
		<plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
		<contact>
		    <collision>${name}_lowerleg_fixed_joint_lump__${name}_foot_collision_1</collision>
		</contact>
		</sensor>
	    </gazebo>


	    <!-- Visualization of Foot contacts. -->
	    <gazebo reference="${name}_foot">
		<visual>
		    <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
		        <topicName>${name}_foot_contact</topicName>
		    </plugin>
		</visual>
	    </gazebo>
	    

	    <!--gazebo reference="base_link">
		<material>Gazebo/Green</material>
		<turnGravityOff>false</turnGravityOff>
	    </gazebo>

	    <gazebo reference="trunk">
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
		<kp  value="1000000.0"/>
		<kd  value="1.0"/>
	    </gazebo>

	    <gazebo reference="stick_link">
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
		<material>Gazebo/White</material>
	    </gazebo>

	    <gazebo reference="imu_link">
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
		<material>Gazebo/Red</material>
	    </gazebo-->

	    <!-- FL leg -->
	    <gazebo reference="${name}_hip">
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
		<material>Gazebo/DarkGrey</material>
	    </gazebo>
	    <gazebo reference="${name}_upperleg">
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
		<self_collide>1</self_collide>
		<material>Gazebo/DarkGrey</material>
		<kp  value="1000000.0"/>
		<kd  value="1.0"/>
	    </gazebo>
	    <gazebo reference="${name}_lowerleg">
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
		<self_collide>1</self_collide>
	    </gazebo>
	    <gazebo reference="${name}_foot">
		<mu1>0.6</mu1>
		<mu2>0.6</mu2>
		<self_collide>1</self_collide>
		<material>Gazebo/DarkGrey</material>
		<kp  value="1000000.0"/>
		<kd  value="1.0"/>
	    </gazebo>
	</xacro:macro>
</robot>
